:root {
  --main-bg-color1: #069b73;
  --main-bg-color2: #1f403c;
  --main-separator: #112b28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Roboto serif", sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  background-image: linear-gradient(
    to left,
    var(--main-bg-color1),
    var(--main-bg-color2)
  );
}

.link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.link::after {
  content: "";
  position: absolute;

  left: 0px;
  bottom: -1rem;
  width: 0%;
  height: 2px;

  background-color: #fff;

  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.img {
  user-select: none;
  -webkit-user-drag: none;
}

.lazy-loading {
  filter: blur(10px);
  transition: filter 0.5s ease;
}

.icon {
  width: 2.2rem;
}

.separator {
  border-bottom: 3px solid var(--main-separator);
  opacity: 0.2;
  width: 70%;
  margin: 0 auto;
}

.item-title {
  font-size: 2rem;
}

#section-1 {
  display: flex;
  align-items: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./src/img/header-background.jpg);

  background-size: cover;
  background-position: center;
}

.section-container {
  display: block;
  min-height: 32rem;
  padding: 3rem 5rem;

  padding-bottom: 1rem;
}

.section-title {
  font-weight: 300;
  padding: 3rem 5rem;
  font-size: 2.5rem;
}

.nav-bar {
  display: flex;

  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    to left,
    var(--main-bg-color1),
    var(--main-bg-color2)
  );

  justify-content: space-around;
  padding: 2rem 0;
}

.nav-logo {
  width: 5rem;
  height: 4.2rem;
}

.nav-links {
  justify-content: flex-end;
}

.nav-item {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  margin: 0 2.1rem;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  transition: top 0.2s ease-in-out;
}

.header-img-container {
  display: flex;
  justify-content: center;

  width: 50%;
}

.header-img {
  height: 25rem;
  border-radius: 50%;
}

.header {
  width: 50%;
  margin: 0 auto;
}

.h1-primary {
  margin-left: 5rem;
}

.h1-primary-main {
  display: block;
  font-weight: 400;
  font-size: 3rem;
  margin: 1rem;

  animation: h1-main-slide 2s forwards;
  backface-visibility: hidden;
}

.h1-primary-sub {
  display: block;
  margin: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;

  animation: h1-sub-slide 1.5s forwards;
  backface-visibility: hidden;
}

/* portfolio section */

.slider-container {
  display: flex;

  margin: 0 4rem;
}

.slider {
  order: 1;
  display: flex;
  overflow: hidden;
}

.slider-item {
  flex: 1 0 100%;
  padding: 0 3rem;
}

.slider-title {
  font-size: 2rem;
  padding: 2rem 0;
}

.slider-link-container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.slider-btn {
  font-size: 5rem;

  margin: 0 3rem;

  background: none;
  border: none;
  color: inherit;

  cursor: pointer;
}

#slider-btn-prev {
  order: 0;
}

#slider-btn-next {
  order: 1;
}

/* skill section */

.skill-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  width: 100%;
}

.skill-container-item {
  margin: 0 3rem;
  padding: 2rem 3rem;
  flex-grow: 1;
  width: 20%;
}

.skill-title {
  padding: 1.3rem;
  text-align: center;
}

/* contact section */

.contact-container {
  display: flex;
  justify-content: space-around;

  margin: 0 20%;
}

.contact-container-item {
  display: block;
  justify-content: center;
  text-align: center;

  margin: 0 5rem;
}

.contact-container-item > .title {
  font-size: 2rem;
  padding: 1rem;
}

@keyframes h1-main-slide {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes h1-sub-slide {
  0% {
    transform: translate(50px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 1rem;
  }

  .section-container {
    display: block;
    min-height: 20rem;
    margin: 0;
    padding: 2rem 0;
  }

  .link {
    position: relative;
    text-decoration: none;
    color: inherit;
  }

  .link::after {
    content: "";
    position: relative;
    background-color: #fff;
    transition: none;

    left: none;
    bottom: none;
    width: none;
    height: none;
  }

  .link:hover::after {
    width: none;
  }

  .nav-bar {
    justify-content: center;
  }

  .nav-logo {
    font-size: 1.3rem;
  }

  .nav-links,
  .h1-primary-main,
  .header-img-container,
  .header-img {
    display: none;
  }

  .section-title {
    text-align: center;
    padding: 1rem 2rem;
  }

  .header {
    width: 80%;
    font-size: 1rem;
  }

  .h1-primary {
    margin: 0;
  }

  .h1-primary-sub {
    font-size: 1rem;
    text-align: center;

    animation: none;
  }

  /* slider */

  .slider-btn {
    position: absolute;
    margin: 0 0.4rem;
    padding: 0 0.4rem;

    font-size: 3rem;

    border: 1rem;
    z-index: 3;
  }

  #slider-btn-next {
    right: 0;
    bottom: 10rem;
  }

  #slider-btn-prev {
    left: 0;
    bottom: 10rem;
  }

  .slider-container {
    padding: 0;
    margin: 0;
  }

  /* skills */

  .skill-container {
    justify-content: center;
    width: 100%;
  }

  .skill-container-item {
    margin: 0;
    padding: 0 3rem;
    width: 80%;
  }

  /* contact */

  #section-4 {
    display: none;
  }
}
